
.page {
    background-color: charreuse;
}
.head {
    background-color: aua;
}
.content {
    background-color: darkgolderod;
}
.links {
    background-color: rb(143, 0, 209);
}
/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  /* Pozicionálás */

.page {
    width: 480px;
    max-width: calc(100vw - 10px);
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    height: 100vh;
  }
  .head, .links {
    text-align: center;
  }
  .head, .content {
    width: 90%;
    margin: 0 auto;
  }
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .profile-image {
    margin-top: -60px;
  }
  /* Contact links */

ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
  } 
  .head, .about {
    margin-bottom: 10%;
  }
  body {
    background: url('https://i.imgur.com/CmTdjBU.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  .page {
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  }
img {
    padding: 3px;
  background-color: #666;
  filter: grayscale(50%);
  transition: all 0.5s ease-in-out;
  

}
.content {
    border-top: 1px solid hsla(0, 0%, 30%, .8);
    font-family: 'Nerko One';
  }
  img:hover {
    transform: scale(1.1);
    filter: grayscale(20%);
  }
  .links {
    letter-spacing: 3px;
  }
  .head {
    margin-bottom: 20px;
  }
  h1:hover {
    color: blue;
  }