
.page {
    background-color: chartreuse;
}
.head {
    background-color: aqua;
}
.content {
    background-color: darkgoldenrod;
}
.links {
    background-color: rgb(143, 0, 209);
}
/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }